.sidebar__info {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  margin-top: 20px;
}

.before__contact {
  margin-bottom: 60px;
  margin-right: 50px;
}

.before__contact > h3 {
  font-size: medium;
  color: #393e46;
  font-weight: normal;
}

.before__contact > p {
  font-weight: 50;
  margin-top: 20px;
  font-size: small;
  color: gray;
  margin-left: 3px;
}

.contact__information {
  justify-content: space-evenly;
}

.contact__information > p {
  margin-top: 20px;
  font-size: small;
  color: gray;
  margin-right: 20px;
}

.contact__information > h3 {
  font-size: medium;
  color: #393e46;
  font-weight: normal;
}

.social__media {
  margin-top: 10px;
}

.social__media > h3 {
  margin-top: 20px;
  font-size: medium;
  color: #393e46;
  font-weight: normal;
}

.social__media > .MuiSvgIcon-root {
  margin-top: 20px;
  margin-left: 10px;
  justify-content: flex-start;
}

.social__media > .MuiSvgIcon-root:hover {
  cursor: pointer;
}

.info {
  color: black !important;
  margin-left: -10px;
}

.contact__p {
  margin-top: 20px;
  font-size: small;
  color: gray;
  margin-right: 20px;
}

.social__icon {
  color: black !important;
  margin-left: -10px;
}
